# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Variables de entorno
.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Linux
*.swp

# Sistema operativo
.DS_Store
Thumbs.db